$audio-bg:#ffb141;
$disk-bg:#2c3f4f;
$disk-bg-center:#3b566b;
$disk-derocation-color: #95a5a6;
$progress-bg:#ceb379;
$progress-color: #948058;
$progress-finish-color:#bd4f2d;
$btn-color:#2c3f4f;
$btn-active-color:#e6e6e6;
$btn-active-bg:rgba(0, 0, 0, .2);
$title-color:#a85035;
$description-color: #302a1e;