$board-bg: #b8ada0;
$piece-bg: #cac0b5;

$piece-2: #ece4db;
$piece-4: #e9e0c9;
$piece-8: #e8b381;
$piece-16: #df915f;
$piece-32: #df915f;
$piece-64: #d86243;
$piece-128: #d86243;
$piece--256: #edda7b;
$piece-512: #edda7b;
$piece-1024: #3c3a31;
$piece--2048: #3c3a31;
$piece--4096: #26bb65;

$piece-font: #776e65;
$piece-font-reverse: #f9f6f1;